@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,600&family=Nunito:wght@200;300;500;700;800&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

.todo-container {
  display: table;
  margin: auto;
  width: 50%;
  text-align: center;
  position: relative;
}
.todo-container .list-title {
  border-bottom: 1px solid #dad9d9;
}
.todo-container .list-title .list-item {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  background: linear-gradient(0deg, rgb(12, 255, 81) 0%, rgb(30, 255, 49) 100%);
}
.todo-container .cssbuttons-io-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  line-height: 38px;
  color: white;
  background: linear-gradient(0deg, rgb(12, 255, 81) 0%, rgb(30, 255, 49) 100%);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 5px;
}
.todo-container .cssbuttons-io-button .icon {
  color: linear-gradient(0deg, rgb(12, 255, 81) 0%, rgb(30, 255, 49) 100%);
}
.todo-container .cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(20, 167, 62, 0.5960784314);
}
.todo-container .input {
  max-width: 100%;
  width: 80%;
  background-color: #f5f5f5;
  color: #242424;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  outline: none;
  border: none;
  line-height: 1.15;
  margin-left: 0px;
}
.todo-container .todo-list-ul {
  padding: 0px;
}
.todo-container .todo-list-ul li {
  margin-top: 10px;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #dad9d9;
  font-size: 18px;
  padding-right: 0px;
  background-color: rgba(65, 117, 214, 0.04);
  border-radius: 10px;
}
.todo-container .todo-list-ul .edit-btn {
  outline: none;
  border: none;
  float: right;
  color: #fff;
  color: rgb(0, 68, 255);
}
.todo-container .todo-list-ul .delete-btn {
  outline: none;
  border: none;
  float: right;
  color: #fff;
  color: red;
}
.todo-container .todo-list-ul .complete-btn {
  outline: none;
  border: none;
  float: right;
  color: #fff;
  color: rgb(30, 255, 49);
}

.done-container {
  position: relative;
  display: table;
  margin: auto;
  width: 50%;
  text-align: center;
}
.done-container .list-title {
  position: relative;
  border-bottom: 1px solid #dad9d9;
}
.done-container .list-title .list-item {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  background-color: #5b81c7;
}
.done-container .done-list-ul {
  padding: 0px;
}
.done-container .done-list-ul li {
  margin-top: 10px;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #dad9d9;
  font-size: 18px;
  padding-right: 0px;
  width: 100%;
  background-color: rgba(65, 117, 214, 0.04);
  border-radius: 10px;
}
.done-container .done-list-ul .undo-btn {
  outline: none;
  border: none;
  float: right;
  color: #fff;
}
.done-container .done-list-ul .undo-btn .icon {
  color: #5b81c7;
}

.border-x {
  border-radius: 30px;
  height: 100%;
  position: absolute;
  top: 0px;
  padding: 2px;
  opacity: 0.7;
  background-color: #242424;
}

.icon {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .border-x {
    height: auto !important;
    width: 100%;
    position: static;
  }
}/*# sourceMappingURL=App.css.map */