@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,600&family=Nunito:wght@200;300;500;700;800&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
$color_1: #fff;
$text-color: #242424;
$icon-color: rgb(168, 168, 168);
$input_background-color_1: rgba(65, 117, 214, 0.04);
$list-border-bottom: 1px solid #dad9d9;
$list_font_size: 16px;
$standart-lh: 45px;
$green: #4dab41;

body {
  font-family: "Montserrat", sans-serif;
  background-color: $input_background-color_1;
}

@mixin list-li {
  margin-top: 10px;
  text-align: left;
  padding: 15px;
  border-bottom: $list-border-bottom;
  background-color: $input_background-color_1;
  font-size: $list_font_size;
  padding-right: 0px;
}
@mixin button {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  float: right;
  color: #fff;
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
}
@mixin counter {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 50%;
  color: $color_1;
  width: 25px;
  height: 25px;
}
ul {
  list-style: none;
}
::placeholder {
  color: $text-color;
  font-size: $list_font_size;
}
.todo-container {
  display: table;
  margin: auto;
  width: 60%;
  text-align: center;
  position: relative;
  .list-title {
    border-bottom: $list-border-bottom;
    .list-item {
      @include counter();
      background: $green;
    }
  }
  form {
    position: relative;
    .input {
      width: 100%;
      background-color: $input_background-color_1;
      color: $text-color;
      padding: 0.15rem 0.5rem;
      min-height: 40px;
      border-top-left-radius: 10px !important;
      border-bottom-left-radius: 10px !important;
      outline: none;
      border: none;
      line-height: $standart-lh;
      margin-left: 0px;
    }
    .cssbuttons-io-button {
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: 10px !important;
      border-bottom-right-radius: 10px !important;
      line-height: $standart-lh;
      color: $color_1;
      background: $green;
      border: none;
      letter-spacing: 0.05em;
      .icon {
        color: $color_1;
      }
      &:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
      }
    }
  }
  .todo-list-ul {
    padding: 0px;
    li {
      @include list-li;
      background-color: $input_background-color_1;
      border-radius: 10px;
      .edit-input {
        background-color: $input_background-color_1;
        border: none;
        outline: none;
      }
    }
    .edit-btn {
      @include button;
      color: $icon-color;
      &:hover {
        color: #5b81c7;
      }
    }
    .delete-btn {
      @include button;
      color: $icon-color;
      margin-right: 10px;
      &:hover {
        color: #e30e0eda;
      }
    }
    .complete-btn {
      @include button;
      color: $icon-color;
    }
  }
}
.done-container {
  position: relative;
  display: table;
  margin: auto;
  width: 60%;
  text-align: center;
  .list-title {
    position: relative;
    border-bottom: $list-border-bottom;
    .list-item {
      @include counter();
      background-color: #5b81c7;
    }
  }
  .done-list-ul {
    padding: 0px;
    margin-top: 70px;
    li {
      @include list-li;
      width: 100%;
      background-color: $input_background-color_1;
      border-radius: 10px;
    }
    .undo-btn {
      @include button;
      margin-right: 10px;
      .icon {
        color: $icon-color;
        &:hover {
          color: #5b81c7;
        }
      }
    }
  }
}
.border-x {
  border-radius: 30px;
  height: 100%;
  position: absolute;
  top: 0px;
  padding: 2px;
  opacity: 0.7;
  background-color: #242424;
}
.icon {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .todo-container,
  .done-container {
    width: 100%;
  }
  .list-item {
    top: 5px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
  }
  .border-x {
    height: auto !important;
    width: 100%;
    position: static;
  }
  .icon {
    font-size: 15px;
  }
}
